.paginationWrapper {
    margin: 5px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}

.pages {
    margin: 5px;
}

.page {
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    border: 1px gray solid;
}

.findUser {
    margin: 15px;
}

.selectedPage {
    padding: 5px;
    margin: 3px;
    color: black;
    font-weight: bold;
    border: 1px black solid;
}

span {
    /* margin: 5px; */
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    border: 1px solid blue;
}

.userInfo {
    text-align: center;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}