.pages {
    margin: 5px;
}

.page {
    cursor: pointer;
}

.findUser {
    margin: 15px;
}

.selectedPage {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

span {
    margin: 5px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    border: 1px solid blue;
}

.userInfo {
    text-align: center;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}