.dialogs {
   display: flex;
   padding-left: 15px;
   padding-top: 15px;
   padding-bottom: 25px;
}

.dialog {

}

.user {
padding-top: 15px;
}

.user.active a {
color: rgb(10, 20, 85);
font-weight: bold;
}

.user a {
    text-decoration: none;
    color: black;
}

.messages{
padding-left: 100px;

}

.message {
padding-top: 15px;
}