.userInfo{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border: 2px solid blue;
}
p {
    font-weight:500;
}

.coverImage img {
    width: 100%;
    height: 230px;
}

.userAvatar img{
    width: 80%;
    height: 80%;
}