.userInfo{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border: 2px solid blue;
}
p {
    font-weight:500;
}

.coverImage img {
    width: 100%;
    height: 230px;
}

.userAvatar img{
    width: 80%;
    height: 80%;
}

.status {
    border: 3px grey solid;
    max-width: max-content;
    margin-top: 10px;
}

.steer {
    color: grey;
    font-size:small;
    margin-top: 5px;
}