.container{
  width: 98%;
  margin: 0 auto;
}

.app-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.item {
box-sizing: border-box;
}

#content {
  background-color: rgb(255, 198, 232);
  width: 80%;
}

#header {
  width: 100%;
}

#navbar{
  width: 20%;
}